@tailwind base;
@tailwind components;
@tailwind utilities;


 



/* -- header -- */
 
body,html{
     overflow-x: hidden; 
     height: 100%;
     position:relative;
     /* background-color:  theme('colors.cust-lightest-grey');  */
}

.main-logo{
    border:0;       
    width: 200px; 
    height:34px;
}

 
.hamburger-button{
    background-image: url(../images/hamberger.svg);
    width:38px;
    height:38px;
    background-position: center center;
    background-repeat: no-repeat ;
    display: none;
    
}

.header-container{
    min-height: 65px; 
    background-color: white; 
}

.button-link{
    border-radius: 50px;
    padding: 0.5rem 1.25rem;
    
    margin-left:0.5rem;
    margin-right:0.5rem;
    vertical-align: baseline;

}
     

.primary-nav__links {
    font-size:1rem;
    position:relative;
    padding: 0.5rem 0.75rem;
    border-radius: 50px;      
    color: theme('colors.cust-dark-grey');    
    display: flex;
    justify-content: space-between;

                                
}
.primary-nav__links:focus,.primary-nav__links:active{
    
    outline:none;
    box-shadow: 0 0 0 1px  theme('colors.cust-light-grey');   
    
}
 


.primary-link__text{
    position: relative;
    display:inline-block;
}
.primary-link__icon{
    margin-top:2px;
    margin-left: 0.2rem;
    display:inline-block;
}
.primary-link__pill{
    position: absolute;
    padding:.15rem;
    right:-6px;
    top:-6px;
    font-size: .5rem;
    font-weight: 300;
    color:white;
    background-color: theme('colors.cust-sec-clr');  
    border-radius: 10px;
    
}
.primary-link__chevron{
    
    display: inline-block;
    transform: rotate(90deg);
    transform-origin:center;
    
    
}
 
    .primary-nav-li{
        
        position:relative;
        z-index: 1;
        height:fit-content;
        padding: 0.75rem 0;  
        display: inline-block;
    }

    
    .primary-nav-li:hover .primary-nav__links{
        color:black;
        border-radius: 50px;
        background-color:  theme('colors.cust-lightest-grey');    
    }

    .primary-nav-li:hover  .primary-link__chevron,
    .primary-nav-li:focus  .primary-link__chevron,
    .primary-nav-li:focus-within  .primary-link__chevron{
    
        display: inline-block;
        transform: rotate(270deg);
        transform-origin:center;
          
    }

    .dropdown{
        border: 1px solid theme('colors.cust-lightest-grey');  
        pointer-events: none;
        opacity: 0;
        transform:translateY(-10px);
        transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
    }
    .primary-nav-li:hover  .dropdown,    
    .primary-nav-li:focus-within  .dropdown,
        .primary-nav-li:focus  .dropdown{
        
        pointer-events: auto;
        opacity: 1;  
        transform:translateY(0);
        z-index: -1;
          
    }
    
    .innerdropdown__li{
        border-bottom: 2px dotted theme('colors.cust-lighter-grey');  
    }
    .innerdropdown__spantitle{
        display: block;
    }
    .innerdropdown__spandescription{
        display: block;
    }
    






.text-mute{
    font-size:0.5rem;
  
}

 
    .checkcustvar {
        color: theme('colors.cust-logo-bluedark1'); ;   
        font-size:2rem;
        font-weight: 700;
    }
 


@media(max-width: 976px){
    .main-logo{
        border:0;       
        width: 160px; 
        height:27px;
    }
    .primary-header{
        border: 0px solid blue;
         
        left:0;
        top:0;
        justify-content: start;
        justify-content: space-between; 
        z-index: 1;
        height: 65px;
        
     }
    
    .nav-tag{
        border: 0px solid green;        
        display: block;
        position: absolute;
        
        left:0px;
        top:0;
        width: 100%;
        z-index: -1;
         
         
        height: fit-content;
    }

    .primary-nav[data-visible="true"]{
        transform: translateX(0.5%);

    }

    ul.primary-nav{
        position: relative;
        
        z-index: 3;
        top:0;        
        transform: translateX(calc(-100% - 6px));/*left:-350px; slide nav*/
        
        margin: 65px 0;
        min-width:250px; 
        max-width:75%;
        box-shadow: 5px 0px 5px 0px rgba(150, 150, 170, 0.5); 
        background-color: theme('colors.cust-bodyback');
        flex-direction: column;
        justify-content: start;
         
        min-height:100vh; 
         
    }
    
    .primary-nav__links{
        font-size: 1.1rem;
        display: flex;
        width:100%;
        justify-content: space-between;
        
    }
    .primary-link__pill{
        margin-right:10px;
    }

    .primary-nav-li{        
        position:relative;
        z-index: -1;
        border-bottom: 1px solid theme('colors.cust-lighter-grey');
          
        
    }    
    .dropdown{
        display: none;
    } 

    .primary-nav-li:hover  .dropdown,    
    .primary-nav-li:focus-within  .dropdown,
        .primary-nav-li:focus  .dropdown{
        position: relative;
        display: block;
        margin: 0 0;
        left:0;
        top:0;
        width:100%;
        
        background: white;
         
         

    }

    .dropdown .innerdropdown-div {
        position: relative;
        flex-direction: column;
        width:100%;
        max-height: 100%;
       
    }

    .dropdown div ul{
        width:100%;
        margin: 5px 0;
    }
    .dropdown div ul li{
        
        width:95%;
        
        margin-left:5px;
        padding-left: 10px;
    }

    .hamburger-button{
        display: block;
    }
    .hamburger-button[aria-expanded="true"]{
        background-image: url(../images/closeicon.svg);

    }
}

 