@tailwind base;
@tailwind components;
@tailwind utilities;




/* -- header -- */
.main-logo{
    border:0;
    width:200px;
    /* width: clamp(100px,15vw,270px); */
}

:root{

}

.header-container{
    height:65px;
}

.primary-nav-li{
    cursor:pointer;
    position:relative;
}

.primary-nav__links {
    font-size:1rem;
    position:relative;

}

.text-mute{
    font-size:0.5rem;
}

