@tailwind base;
@tailwind components;
@tailwind utilities;


 



/* -- header -- */
/* .header-container{
    border-top: 5px solid  theme('colors.cust-logo-green'); ;
} */

body,html{
     overflow-x: hidden; 
}

.main-logo{
    border:0;       
    width: 200px; 
}

 
.hamburger-button{
    background-image: url(../images/hamberger.svg);
    width:40px;
    height:40px;
    background-position: center center;
    background-repeat: no-repeat ;
    
}

.header-container{
    height:65px;
}

 
    .primary-nav-li{
        
        position:relative;
        z-index: 1;
    }


    .primary-nav-li:hover .primary-nav__links{
        border-radius: 50px;
        background-color:  theme('colors.cust-lightest-grey');    
    }

    .primary-nav-li:hover  .primary-link__chevron{
    
        display: inline-block;
        transform: rotate(270deg);
        transform-origin:center;
          
    }

    .dropdown{
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.3s ease-out;
    }
    .primary-nav-li:hover .dropdown{
        
        visibility: visible;
        opacity: 1;  
        z-index: -1;
         
          
    }
 


.primary-nav__links {
    font-size:1rem;
    position:relative;
    
}

.primary-link__icon{
    margin-top:2px;
    margin-left: 0.2rem;
}
.primary-link__chevron{
    
    display: inline-block;
    transform: rotate(90deg);
    transform-origin:center;
    
    
}


.text-mute{
    font-size:0.5rem;
  
}

 
    .checkcustvar {
        color: theme('colors.cust-logo-bluedark1'); ;   
        font-size:2rem;
        font-weight: 700;
    }
 


@media(max-width: 976px){
    ul.primary-nav{
        position: fixed;
        z-index: 1;
        top:0;
        left:0;
        right:15%;
        background: rgba(200,255,255,.95);
        flex-direction: column;
        
    }
    .primary-nav-li{
        
        position:relative;
        z-index: -1;
        background: rgba(179, 205, 77, 0.95);
        padding: 5px 10px 5px 10px ;
    }
    
     
    .primary-nav-li:hover .dropdown{
        z-index: 20000;
        margin: 0 0;
        left:0;
        top:0;
        position: relative;
        background: rgba(0,0,0,.95);

    }

    .hamburger-button{
        display: block;
    }
}

 