@tailwind base;
@tailwind components;
@tailwind utilities;


 



/* -- header -- */
      /* styling for div */
      ::-webkit-scrollbar {
        width: 5px;
        height:5px;
      }
      ::-webkit-scrollbar-track {
        background: #f1f1f1; 
      }
      ::-webkit-scrollbar-thumb {
        background: #888; 
      }
      ::-webkit-scrollbar-thumb:hover {
        background: #555; 
      }
       

      div::-webkit-scrollbar {
        width: 5px;
        height:5px;
      }
      div::-webkit-scrollbar-track {
        background: #f1f1f1; 
      }
      div::-webkit-scrollbar-thumb {
        background: #888; 
      }
      div::-webkit-scrollbar-thumb:hover {
        background: #555; 
      }


body,html{
     overflow-x: hidden; 
    
     position:relative;
       background-color: theme('colors.cust-bodyback'); 
     
}
 

.main-logo{
    border:0;       
    width: 220px; 
    height:36px;
}

.rightpanel-table tbody tr:nth-child(odd) {
    background: theme('colors.cust-lightest-grey'); 
} 

article{
    margin: 1rem 0;
} 
.hamburger-button{
    background-image: url(../images/hamberger.svg);
    width:38px;
    height:38px;
    background-position: center center;
    background-repeat: no-repeat ;
    display: none;
    
}

.header-container{
    min-height: 65px; 
    background-color: white; 
    width: 100%;
    

}
 
.button-link{
    @apply transition  rounded-full p-1.5 px-3 mx-1  hover:shadow-md active:shadow-md focus:outline-none focus:ring-1 focus:ring-blue-300;    
     
    

}
     

.primary-nav__links {
    font-size:1rem;
    position:relative;
    padding: 0.5rem 0.75rem;
    border-radius: 50px;      
    color: theme('colors.cust-dark-grey');    
    display: flex;
    justify-content: space-between;

                                
}
.primary-nav__links:focus,.primary-nav__links:active{
    
    outline:none;
    box-shadow: 0 0 0 1px  theme('colors.cust-light-grey');   
    
}
 


.primary-link__text{
    position: relative;
    display:inline-block;
}
.primary-link__icon{
    margin-top:2px;
    margin-left: 0.2rem;
    display:inline-block;
}
.primary-link__pill{
    position: absolute;
    padding:.15rem;
    right:-6px;
    top:-6px;
    font-size: .5rem;
    font-weight: 300;
    color:white;
    background-color: theme('colors.cust-sec-clr');  
    border-radius: 10px;
    
}
.primary-link__chevron{
    
    display: inline-block;
    transform: rotate(90deg);
    transform-origin:center;
    
    
}
 
    .primary-nav-li{
        
        position:relative;
        z-index: 1;
        height:fit-content;
        padding: 0.75rem 0;  
        display: inline-block;
    }

    
    .primary-nav-li:hover .primary-nav__links{
        color:black;
        border-radius: 50px;
        background-color:  theme('colors.cust-lightest-grey');    
    }

    .primary-nav-li:hover  .primary-link__chevron,
    .primary-nav-li:focus  .primary-link__chevron,
    .primary-nav-li:focus-within  .primary-link__chevron{
    
        display: inline-block;
        transform: rotate(270deg);
        transform-origin:center;
          
    }
    .nav-tag{
        background-color: white;
    }
    .dropdown{
        border: 1px solid theme('colors.cust-lightest-grey');  
        pointer-events: none;
        opacity: 0;
       
        transform:translateY(-10px);
        transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
    }
    .primary-nav-li:hover  .dropdown,    
    .primary-nav-li:focus-within  .dropdown,
        .primary-nav-li:focus  .dropdown{
        
        pointer-events: auto;
        opacity: 1;  
        transform:translateY(0);
        z-index: -1;
          
    }
    
    .innerdropdown__li{
        border-bottom: 2px dotted theme('colors.cust-lighter-grey');  
    }
    .innerdropdown__spantitle{
        display: block;
    }
    .innerdropdown__spandescription{
        display: block;
    }
    
 
.text-mute{
    font-size:0.7rem;
  
}

.search-bar{
    display: block;
    position: fixed;
    top:0px; 
    left:0;
    z-index: 2000;
    transform: translateY(calc(-100% - 1rem));
    transition: 250ms transform ease-in-out;
    
}

.search-bar[data-expanded="false"]{
    transform: translateY(calc(-100% - 1rem));
}

.search-bar[data-expanded="true"]{
    transform: translateY(0);
}
 
.tag-light-grey{
    @apply text-cust-darker-grey rounded-md  p-1 px-2 mr-3 my-1 border border-cust-light-grey bg-cust-lighter-grey hover:bg-white hover:border-cust-dark-grey;
}

.tag-mid-grey{
    @apply transition text-white   rounded-md bg-cust-dark-grey hover:bg-white hover:text-cust-darkest-grey p-1 px-2 mr-3 my-1;
}

.tag-dark-grey{
    @apply text-white rounded-md bg-cust-darker-grey hover:bg-cust-dark-grey p-1 px-2 mr-3 my-1;
}

.green-title-2xl{
    @apply text-2xl  text-cust-darker-grey border-l-4 border-cust-sec-clr -ml-2 pl-2;
}

.green-title-3xl{
    @apply text-3xl text-cust-darker-grey px-2 md:px-4 my-2 border-l-4 border-cust-sec-clr;
}

.container-rounded-white{
    @apply block p-3 bg-white shadow-sm rounded-md;
}

.news-snippet{
    @apply mr-3  border-y border-dotted border-cust-dark-grey w-full;
}

.news-snippet__link{
    @apply  block p-2 text-cust-darker-grey font-bold hover:underline hover:decoration-cust-sec-clr  leading-5 ; 
}

.side-panel{
    @apply relative flex-none   min-w-[300px]     md:max-w-[320px]  bg-white  mt-4   px-4 md:px-0  rounded-md  shadow-md; 
}

.side-panel__green-title{
    @apply  px-2  mb-2 text-lg font-bold border-l-4 border-cust-sec-clr ml-2 pl-2 bg-cust-lightest-grey;
}
.side-panel__links{
    @apply block transition mt-1 px-2 py-1   border-b-2  border-dotted border-cust-lighter-grey bg-white text-cust-dark-grey    text-lg hover:text-black hover:bg-cust-lighter-grey   hover:rounded-md;
}
.side-panel__symbol{
    @apply p-0.5 px-1 bg-cust-lighter-grey rounded-md text-base;
}

.side-panel__normal-title{
    @apply  px-2 border-b-2 border-dotted  border-cust-lighter-grey mb-2 text-lg font-bold;
}

.side-panel-avatar-links{
    @apply flex items-center gap-2 block    p-2 text-sm hover:bg-cust-lightest-grey rounded-md font-bold;
}
.avatar-img-10{
    @apply aspect-square rounded-full w-10;
}

.table-link-bold {
    @apply py-2 hover:underline   font-semibold;
}
.table-link {
    @apply py-2 hover:underline   ;
}
.table-link-green {
    @apply py-2 hover:underline  text-cust-sec-clr ;
}
.table-link-red {
    @apply py-2 hover:underline text-red-500  ;
}
.table-link-grey {
    @apply py-2 hover:underline  text-cust-dark-grey  ;
}

.highlight-title{
    @apply text-3xl md:text-4xl font-semibold text-center; 
}
.highlight-sub-title{
    @apply text-xl md:text-2xl text-center my-3 text-cust-dark-grey;
}
.highlight-block{
    @apply flex items-center gap-3  p-4  max-w-[60ch] my-3;
}
.highlight-block-avatar{
    @apply relative hidden sm:block;
}
.avatar-img-100{
    @apply aspect-square rounded-full w-[100px];
}
.highlight-block-text{
    @apply text-xl font-semibold text-cust-darker-grey;
}

.footer-links-box{
    @apply grow p-0 md:p-2 flex flex-wrap;
}
.footer-links-ul{
    @apply block md:flex md:flex-col mx-3 w-full md:w-auto mb-4 grow;
}
.footer-links-li-title{
    @apply block border-b border-dotted border-cust-dark-grey p-1 pr-4 text-lg md:text-base;
}
.footer-links{
    @apply transition py-1   text-lg md:text-base     inline-block text-cust-darker-grey hover:translate-x-1.5 hover:text-black hover:underline hover:decoration-cust-light-grey;
}
.footer-social-box{
    @apply p-2 border-t md:border-t-0    border-dotted  border-cust-dark-grey;
} 


@media(max-width: 976px){
    .main-logo{
        border:0;       
        width: 180px; 
        height:28px;
    }
   
    
    .primary-header{
        border: 0px solid blue;
         
        left:0;
        top:0;
        justify-content: start;
        justify-content: space-between; 
        z-index: 1;
        height: 65px;
        
     }
    
    .nav-tag{
        border: 0px solid green;        
        display: block;
        position: absolute;
        height: 65px;
        left:0px;
        top:0;
        width: 100%;
        z-index: -1;
 
    }

    .primary-nav[data-visible="true"]{
        transform: translateX(0);
        left:0;

    }

    ul.primary-nav{
        position: relative;
        
        z-index: 3;
        top:0;        
        transform: translateX(-110%);/*left:-350px; slide nav*/
        left:0;
        margin: 65px 0;
        min-width:250px; 
        max-width:75%;
        box-shadow: 5px 0px 5px 0px rgba(150, 150, 170, 0.5); 
        background-color: theme('colors.cust-bodyback');
        flex-direction: column;
        justify-content: start;
         
        min-height:100vh; 
         
    }
    
    .primary-nav__links{
        font-size: 1.1rem;
        display: flex;
        width:100%;
        justify-content: space-between;
        
    }
    .primary-link__pill{
        margin-right:10px;
    }

    .primary-nav-li{        
        position:relative;
        z-index: -1;
        border-bottom: 1px solid theme('colors.cust-lighter-grey');
          
        
    }    
    .dropdown{
        display: none;
    } 

    .primary-nav-li:hover  .dropdown,    
    .primary-nav-li:focus-within  .dropdown,
        .primary-nav-li:focus  .dropdown{
        position: relative;
        display: block;
        margin: 0 0;
        left:0;
        top:0;
        width:100%;
        
        background: white;
         
         

    }

    .dropdown .innerdropdown-div {
        position: relative;
        flex-direction: column;
        width:100%;
        max-height: 100%;
       
    }

    .dropdown div ul{
        width:100%;
        margin: 5px 0;
    }
    .dropdown div ul li{
        
        width:95%;
        
        margin-left:5px;
        padding-left: 10px;
    }

    .hamburger-button{
        display: block;
    }
    .hamburger-button[aria-expanded="true"]{
        background-image: url(../images/closeicon.svg);

    }
}

 